@font-face {
	font-family: 'Ponnala';
	src: local('Ponnala'), url(../fonts/Ponnala.ttf);
}
@font-face {
	font-family: 'Suguna';
	src: local('Suguna'), url(../fonts/Suguna.ttf);
}
@font-face {
	font-family: 'LakkiReddy';
	src: local('LakkiReddy'), url(../fonts/LakkiReddy.ttf);
}
@font-face {
	font-family: 'Ramaneeya';
	src: local('Ramaneeya'), url(../fonts/Ramaneeya.ttf);
}
@font-face {
	font-family: 'RaviPrakash';
	src: local('RaviPrakash'), url(../fonts/RaviPrakash.ttf); 
}
@font-face {
	font-family: 'Subhadra';
	src: local('Subhadra'), url(../Subhadra.html);	
}
h1 {
	font: 4.8em/1 'Ponnala';
	color: #fff;
	text-shadow: 2px 2px 2px #159, -2px -2px 2px #159, 0 0 24px #149;
}
h2 {
	font: 1.5em 'RaviPrakash', sans-serif;
	line-height: 1.5;
	text-align: left;
	column-gap: 32px;
	margin: 0;
	color:#000000;
	padding-left:3px;
	font-size:17px;
	text-decoration:none;
	
}
h2 a{
	font: 1.5em 'RaviPrakash', sans-serif;
	line-height: 1.5;
	text-align: left;
	column-gap: 32px;
	margin: 0;
	color:#000000;
	padding-left:3px;
	font-size:20px;
	text-decoration:none;
	
}
.story {
	-moz-columns: 2;
	-webkit-columns: 1;
	columns: 2;
	-moz-column-gap: 32px;
	-webkit-column-gap: 32px;
	column-gap: 32px;
	line-height: 1.5em;
	text-align: justify;
	-moz-column-rule: 1px dotted #c09;
	-webkit-column-rule: 1px dotted #c09;
	column-rule: 1px dotted #c09;
}
.story_titles {
	-moz-columns: 2;
	-webkit-columns: 1;
	columns: 2;
	-moz-column-gap: 32px;
	-webkit-column-gap: 32px;
	column-gap: 32px;
	line-height: 1.5em;
	text-align: justify;
	-moz-column-rule: 1px dotted #c09;
	-webkit-column-rule: 1px dotted #c09;
	column-rule: 1px dotted #c09;
}
.dropcap {
	font: 4em/1 'Ponnala';
	color: #c09;
	vertical-align: top;
	float: left;
	margin-right: 6px;
}
.pullquote{
	font: italic 1.6em/1.2 'Ponnala', serif;
	text-align: center;
	border-top: 2px dotted #c09;
	border-bottom: 2px dotted #c09;
	padding: 6px 0;
}

h3 {
	font: 1.2em 'RaviPrakash', sans-serif;
	line-height: 1.5;
	text-align: left;
	column-gap: 32px;
	margin: 0;
	color:#000000;
	padding-left:3px;
	text-align:center;
	
}
