body{
	margin:0;
	padding:0;
	background:#545454;
	text-align:center;
	color:#555;
}
p, h1, h2, h3, h4{
	margin:1em 0;
	padding:0;
}
h1{font-size:140%;}
h2{
	font-size:14px;
	color:#FDA11C;
}
h3{
	font-size:11px;
	color:#77A819;
	font-weight:normal;
}
h4{font-size:100%;}
table, td, select, input, textarea, li{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-color: #97B9FF;
}
img{border:0;}
/* ---------------------------------- container ---------------------------------- */
#container{
	text-align:left;
	width:1000px;
	background:#fff;
	margin-top:auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
/* ---------------------------------- logotip ---------------------------------- */
#logotip{
	position:relative;
	height:106px;
	padding:30px;
	background-image: url(../images/Free_Telugu_live_News_Chann.html);
	background-repeat: no-repeat;
}
#logo{
	position:relative;
	text-indent:-8000px;
	background:url(../images/logotip.html) no-repeat;
	width:251px;
	height:41px;
	display:block;
	vertical-align: middle;
}
#logo a{
	display:block;
	height:41px;
}
/* ---------------------------------- header ---------------------------------- */
#header{
	position:relative;
	height:150px;
	margin: 0px;
	background:url(../images/header_images.html) no-repeat;
	background-image: url(../images/Free_Telugu_live_News_Chann.html);
}
/* ---------------------------------- navigation ---------------------------------- */
div#navlist {
	display: block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	list-style: none;
}
div#navlist a {
	display: block;
	padding: 0.5em 2em 0.2em 1em;
	border-width: 1px;
	border-color: #ffe #E5E5E5 #E5E5E5 #fff;
	border-style: solid;
	height:30px;
	color: #777;
	text-decoration: none;
	background:#FFF;
	text-align: right;
}
div#navlist a:hover {
	color: #FFF;
	background:#FF9300;
	font-weight:bold;
	height:30px;
}
/* ---------------------------------- main ---------------------------------- */
#main{
	margin: 0px;
	vertical-align: top;
}
.main_nav {
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#main_text{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#main_text2{
	margin: 0px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#FFF;
	background: #FF9300;
}
#heading1 {
	background:url(../images/navigate.html) no-repeat;
	width:95px;
	height:15px;
	margin: 5px;
}
#heading2 {
	background:url(../images/reading_number_one.html) no-repeat;
	width:190px;
	height:20px;
	margin: 5px;
}
#heading3 {
	background:url(../images/reading_number_two.html) no-repeat;
	width:190px;
	height:20px;
	margin: 5px;
}
#head_main {
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
/* ---------------------------------- footer ---------------------------------- */
#footer{
	position:relative;
	clear:both;	
	text-align:center;
	color:#fff;
	background:url(../images/footer_back.gif) repeat-x;
	line-height:28px;
	height:40px;	
}
.footer_text {
	color: #FFFFFF;
	font-weight:bold;
	text-align:center;
	font-size:11px;
}
